* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GLOBALE */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

/* NAV */
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
}

nav li {
  position: relative;
  display: inline-block;
  list-style: none;
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 40px 10px;
}

nav li a {
  text-decoration: none;
  font-size: 1.2em;
  color: #000000 ;
}

nav li a,
.box .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* LAYOVER NAV */
nav li:hover {
  box-shadow: 2px 3px 6px #000000;
}

nav li:active {
  background-color: rgba(0,0,0,0.5);
}

/* MAIN */
main .box {
  position: relative;
  height: 100vh;
}

.box .content {
  width: 50%;
}

.box .content img {
  width: 100%
}

.box .text {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 20px;
}

#shoe-1 {
  background-color: #FF0000;
  color: #FFFF00;
}

#shoe-2 {
  background-color: #008001;
  color: #FFFF00;
}

#shoe-3 {
  background-color: #FFFF00;
  color: #008001;
}